<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    properties?, settings?, 
    typeAliases?, typeHandlers?, 
    objectFactory?,objectWrapperFactory?, 
    plugins?, 
    environments?, databaseIdProvider?, mappers?
    -->
    <settings>
        <!-- 显示运行日志 -->
        <!-- LOG4J -->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--打开延迟加载的开关 -->
        <!--<setting name="lazyLoadingEnabled" value="true" />-->
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指 定)，不会加载关联表的所有字段，以提高性能 -->
        <!--<setting name="aggressiveLazyLoading" value="false" />-->
        <!--		<setting name="autoMappingBehavior" value="FULL"/>-->
    </settings>
    <typeAliases>
        <typeAlias alias="user" type="com.baizhi.entity.User"/>
<!--        <package name="com.mybatis.entity"/>-->
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/suns?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=GMT-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="UserDAOMapper.xml"/>
    </mappers>
</configuration>