<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    id 属性 名字 唯一-->
<!--  class属性 配置全限定名   -->
<!--    <bean id="person" class="com.baizhi.basic.Person"/>-->

<!--    <bean id="person1" class="com.baizhi.basic.Person"/>-->

    <bean id="person" name="p,p1" class="com.baizhi.basic.Person">
        <property name="id">
            <value>10</value>
        </property>
        <property name="name">
            <value>suns</value>
        </property>
    </bean>
</beans>