<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.baizhi.proxy.a.UserServiceImpl"></bean>
    <bean id="orderService" class="com.baizhi.proxy.OrderServiceImpl"></bean>
<!--    <bean id="before" class="com.baizhi.dynamic.Before"></bean>-->
<!--    <bean id="before" class="com.baizhi.dynamic.Before1"></bean>-->

    <bean id="arround" class="com.baizhi.dynamic.Arround"></bean>
    <aop:config proxy-target-class="true">
        <!-- 切入点  expression：切入点表达式  所有的方法都作为切入点，加入额外功能-->
        <aop:pointcut id="pc" expression="execution(* login(..)) and args(String,String)"/>
        <!-- 组装：目的是把切入点与额外功能进行 整合-->
        <aop:advisor advice-ref="arround" pointcut-ref="pc"/>
    </aop:config>

    <!--性能监控 配置-->
    <bean id="performanceMonitor" class="com.baizhi.dynamic.PerformanceMonitor"/>

    <aop:config>
        <aop:aspect ref="performanceMonitor">
            <aop:pointcut id="serviceMethods" expression="execution(* com.baizhi.proxy.*.*(..))"/>
            <aop:around method="monitor" pointcut-ref="serviceMethods"/>
        </aop:aspect>
    </aop:config>
</beans>